.headline{
    text-align: center;
    background-color: sandybrown;
}
h1 {
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: black;
    font-weight: 600;
}
.info1{
    background-color: bisque;
}
.info2{
    background-color: bisque;
}
.info3{
    background-color: bisque;
}
.info4{
    padding: 0px 10px;
    border: 1px solid black;
    
    font-weight: 600;
    background-image: url(restaurant.jpg);
    text-align: center;
    color: khaki;
}
*{
    font-size: 20px;
}
.image1{
    float: right;
    padding-right: 50px;
    padding-top: 90px;
}
.image2{
    float: right;
    padding-right: 50px;
    padding-top: 30px;
}
.image3{
    float: right;
    padding-top: 60px;
    padding-right: 50px;
} 
