.headline{
    text-align: center;

}
h1 {
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: black;
    font-weight: 600;
}
*{
    font-size: 20px;
}