.headline{
    text-align: center;

}
h1 {
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: black;
    font-weight: 600;
}
.info{
    padding: 0px 10px;
    border: 1px solid black;
    display: inline-block;
    font-weight: 600;
    background-color: blanchedalmond;
}
*{
    font-size: 20px;
}
.image0{
    float: right;
}