.headline {
    text-align: center;
    margin: 40px 0px;
    
}
h2,p {
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: black;
    font-weight: 600; 
}
.F1{
    background-color: bisque;
    
}

.G1{
  float: right;
  padding-right: 70px;
  padding-top: 60px;
}
.G2{
    float: right;
    padding-right: 70px;
    padding-top: 120px;  
}
.G3{
    float: right;
    padding-right: 70px;
    padding-top: 55px;
}
.G4{
    float: right;
    padding-right: 70px;
    padding-top: 45px;
}
